<a [attr.href]="isLink() ? '/product/'+ product.id : undefined" class="productBox" (click)="ctaClick($event)">
  <div class="productBox__img" [ngStyle]="productCoverImage()"></div>
  <div class="productBox__content">
    <div class="productBox__title">
      {{ product.name }}
    </div>
    <div class="productBox__price">
      {{ (product.hasOptions() || product.hasColourOptions()) ? 'From ' : '' }}
      {{ ((product.hasOptions() || product.hasColourOptions()) ? product.minPrice : product.price) | currency : 'GBP' : true : '1.2-2'  }}
    </div>
    <div class="productBox__footer">
      <div
        *ngIf="!product.hasCustomSize()"
        class="productBox__icon productBox__icon--noCustomSize"
        matTooltip="Standard sizes only"></div>
      <div
        *ngIf="product.hasCustomSize()"
        class="productBox__icon productBox__icon--customSize"
        matTooltip="Made to measure available"></div>

      <button class="btn btn-default">View product</button>

      <div
        [ngStyle]="{ 'visibility': product.hasColours() ? 'visible' : 'hidden' }"
        class="productBox__icon productBox__icon--colours"
        matTooltip="Colour options available"></div>
    </div>
  </div>
</a>
