@import "../../../assets/scss/variables";

.footer {
    padding: ($grid-gutter-width * 2) 0;
    background-color: #27282a;
    color: $color-white;

    ul {
        margin: 0;
    }

    li {
        padding-bottom: 10px;
        list-style: none;
    }

    a {
        color: $color-white;
    }
}

.footer__logo {
    width: 225px;
}

.bottomBar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #212121;
    color: $color-white;
    line-height: 39px;

    a {
        color: $color-white;
    }
}
