<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <a routerLink="/"><img src="/assets/img/logo-white.png" class="footer__logo"/></a>
            </div>
            <div class="col-sm-3">
                <!-- <ul class="list-unstyled">
                    <li *ngFor="let category of categories">
                        <a routerLink="/category/{{ category.id }}">{{ category.name }}</a>
                    </li>
                </ul> -->

                <!-- TrustBox widget - Review Collector -->
                <div id="trustbox" class="trustpilot-widget" data-locale="en-GB" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="58dc04840000ff00059f77ad" data-style-height="120px" data-style-width="100%">
                    <a href="https://uk.trustpilot.com/review/kitchenin.co.uk" target="_blank">Trustpilot</a>
                </div>
                <!-- End TrustBox widget -->

            </div>
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li><a routerLink="/page/terms">Terms and conditions</a></li>
                    <li><a routerLink="/page/privacy">Privacy policy</a></li>
                    <li><a routerLink="/page/maintenance">Care and maintenance</a></li>
                    <li><a routerLink="/page/return">Return and cancellation</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="list-unstyled">
                    <li><a routerLink="/page/delivery">Delivery</a></li>
                    <li><a routerLink="/page/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="bottomBar">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                &copy; 2018 <a routerLink="/">kitchenin.co.uk</a>. All rights reserved
            </div>
            <div class="col-sm-4 text-center">
                <img src="/assets/img/payments.png" alt="Supportet payment types" height="30" style="margin-top: 2px;" />
            </div>
            <div class="col-sm-4 text-right">
                <img src="/assets/img/social-icons.png" alt="Supportet payment types" height="27" width="172" />
            </div>
        </div>
    </div>
</div>
