<div mat-dialog-content>
    <button class="mat-dialog__close" [mat-dialog-close]="true"><mat-icon mat-dialog-close>cancel</mat-icon></button>

    <div *ngIf="product">
        <div class="row" style="overflow: hidden;">
            <div class="col-xs-5">
                <div class="productDetails__imagesCarousel" *ngIf="product.hasPhotos()">
                    <app-product-images-carousel [photos]="product.photos"></app-product-images-carousel>
                </div>
            </div>

            <div class="col-xs-7">
                <form novalidate #productForm="ngForm" (ngSubmit)="addToBasket(productForm)">
                    <div class="productDetails__section productDetails__section--first">
                        <h2 class="productDetails__title">
                            {{ product.name }}

                            <a href="/admin/products/{{ product.id }}" target="_blank" *ngIf="isLoggedIn">
                                <mat-icon>edit</mat-icon>
                            </a>
                        </h2>
                    </div>

                    <div *ngIf="product.hasParameters()">
                        <div class="productDetails__subtitle">
                            Product Specification:
                        </div>

                        <dl class="productDetails__panel productDetails__parametersList">
                            <div
                                *ngFor="let parameter of product.parameters, let isLast = last"
                                class="productDetails__parametersItem"
                                [ngClass]="{ 'productDetails__parametersItem--last': isLast }"
                            >
                                <dt>{{ parameter.name }}</dt>
                                <dd>{{ parameter.value }}</dd>
                            </div>
                        </dl>
                    </div>

                    <div
                        class="productDetails__section productDetails__description"
                        *ngIf="product.description"
                        [innerHTML]="product.description"
                    ></div>

                    <div *ngIf="product.hasColours()" class="productDetails__section">
                        <div class="productDetails__subtitle">
                            Select colour:
                        </div>

                        <div class="productDetails__sectionContent">
                            <mat-radio-group
                                class="productDetails__coloursList"
                                name="colour"
                                required
                                [(ngModel)]="basketItem.colour"
                                (change)="onSelectColour()"
                                #colour="ngModel"
                            >
                                <mat-radio-button
                                    *ngFor="let colour of product.colours"
                                    class="productDetails__coloursListItem mat-radio-button--noRadio"
                                    [ngClass]="{ 'productDetails__coloursListItem--selected': colour.id === basketItem.colour?.id }"
                                    [ngStyle]="{ 'background-image': 'url(/images/colours/' + encodeURI(colour.getPhoto()) + ')' }"
                                    [matTooltip]="colour.name"
                                    [value]="colour"
                                ></mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="(colour.invalid && productForm.submitted) || (colour.invalid && sampleFormSubmitted)">Please selecet colour</mat-error>
                        </div>
                    </div>

                    <div *ngIf="product.hasOptions()" class="productDetails__section" [ngClass]="{ 'productDetails__section--callpsed': mode !== 'standard' }">
                        <div class="productDetails__subtitle">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>
                                        <input type="radio" name="mode" [(ngModel)]="mode" value="standard" *ngIf="product.hasCustomSize() && mode !== 'standard'" />
                                        Select standard size:
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="productDetails__sectionContent" *ngIf="mode === 'standard'">
                            <div class="row">
                                <div class="col-xs-9">
                                    <mat-form-field appearance="outline">
                                        <mat-select
                                            name="size"
                                            required
                                            [(ngModel)]="selectedSize"
                                            [disableOptionCentering]="true"
                                            (selectionChange)="onSelectedSize()"
                                        >
                                            <mat-option
                                                *ngFor="let option of product.options"
                                                [value]="option"
                                            >
                                                {{ option.name }} {{ option.price | currency : 'GBP' : true : '1.2-2' }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Quantity</mat-label>
                                        <input
                                            type="number"
                                            name="quantity"
                                            min="1"
                                            required
                                            matInput
                                            [(ngModel)]="basketItem.quantity"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="product.hasCustomSize()" class="productDetails__section" [ngClass]="{ 'productDetails__section--callpsed': mode !== 'custom' }">
                        <div class="productDetails__subtitle">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>
                                        <input type="radio" name="mode" [(ngModel)]="mode" value="custom" *ngIf="product.hasCustomSize() && mode !== 'custom'" />
                                        Select custom size:
                                    </label>
                                </div>
                                <!-- <div class="col-xs-3" *ngIf="mode === 'custom'">
                                    Quantity:
                                </div> -->
                            </div>
                        </div>

                        <div class="productDetails__sectionContent" *ngIf="mode === 'custom'">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Height (mm)</mat-label>
                                                <input
                                                    type="number"
                                                    name="height"
                                                    min="100"
                                                    max="2540"
                                                    required
                                                    matInput
                                                    [(ngModel)]="basketItem.height"
                                                    (change)="getBasketItem()"
                                                />
                                                <mat-hint>Min: 100mm, Max: 2540mm</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xs-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Width (mm)</mat-label>
                                                <input
                                                    type="number"
                                                    name="width"
                                                    min="100"
                                                    max="1200"
                                                    required
                                                    matInput
                                                    [(ngModel)]="basketItem.width"
                                                    (change)="getBasketItem()"
                                                />
                                                <mat-hint>Min: 100mm, Max: 1200mm</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Quantity</mat-label>
                                        <input
                                            type="number"
                                            name="quantity"
                                            min="1"
                                            required
                                            matInput
                                            [(ngModel)]="basketItem.quantity"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div *ngIf="message"
                        [ngClass]="{ 'alert': true, 'alert-success' : message.success, 'alert-danger' : !message.success }">{{
                        message.message }}
                    </div> -->

                    <div *ngIf="basketItem.price" class="productDetails__section">
                        <div class="row">
                            <div class="col-xs-{{ (product.hasOptions() || product.hasCustomSize()) ? '7' : '4' }} productDetails__priceTotal">
                                {{
                                    basketItem.price > 0 ?
                                        (basketItem.price * basketItem.quantity | currency : 'GBP' : true : '1.2-2') :
                                        'From ' + (-1*(basketItem.price) | currency : 'GBP' : true : '1.2-2')
                                }}
                            </div>
                            <!-- <div class="col-xs-2 text-right" style="line-height: 46px;" *ngIf="!product.hasOptions() && !product.hasCustomSize()">
                                Quantity:
                            </div> -->
                            <div class="col-xs-3" *ngIf="!product.hasOptions() && !product.hasCustomSize()">
                                <mat-form-field appearance="outline">
                                    <mat-label>Quantity</mat-label>
                                    <input
                                        type="number"
                                        name="quantity"
                                        min="1"
                                        required
                                        matInput
                                        [(ngModel)]="basketItem.quantity"
                                    />
                                </mat-form-field>
                            </div>
                            <div class="col-xs-5 text-right">
                                <button class="btn btn-primary btn-lg" type="submit">Add to basket</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
