@import "variables";

.listItem {
    position: relative;
    display: block;
    margin-bottom: $grid-gutter-width;
    height: 254px;
    background-color: $color-white;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all .2s linear;

    &:hover {
        box-shadow: 0 0 5px $brand-primary;
    }
}

.listItem__label {
    position: absolute;
    right: 20px; //$grid-gutter-width;
    bottom: 0;
    left: 20px; //$grid-gutter-width;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    min-height: 66px;
    background-color: $color-white;
    color: $color-black;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    .listItem--category & {
        font-size: 24px;
    }
}



//
// Product details
//
.productDetails__section {
    margin-bottom: -1px;
    padding: $grid-gutter-width 0;
    border-bottom: 1px solid $color-grey;

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }
}

.productDetails__section--first {
    padding-top: 0;
}

.productDetails__banner {
    height: 50vh;
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

.productDetails__breadcrumb {
    margin: $grid-gutter-width 0 10px;
}

.productDetails__imagesCarousel {
    position: relative;
    overflow: hidden;
    margin: 0 0 $grid-gutter-width;

    .mat-dialog-container & {
        margin: 0;
    }
}


.productDetails__ribbonWrapper {
    position: absolute;
    top: 0;
    right: 0;
}
.productDetails__ribbon {
    position: absolute;
    top: 42px;
    right: -38px;
    display: block;
    width: 190px;
    background: $brand-primary;
    background: linear-gradient($brand-primary 0, darken($brand-primary, 35%) 100%);
    box-shadow: 0 3px 10px -5px #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 10px;
    line-height: 30px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


.productDetails__title {
    margin: 0;
    font-size: 25px;;
}

.productDetails__subtitle {
    margin: 0 0 $grid-gutter-width / 2;
    font-weight: 700;
    font-size: 17px;

    label {
        margin: 0;
    }

    input {
        float: left;
        margin: 3px 7px 0 0;
    }

    .productDetails__section--callpsed & {
        margin-bottom: 0;
    }
}

.productDetails__section--callpsed {
    .productDetails__sectionContent {
        display: none;
    }
}

.productDetails__small {
    display: block;
    margin: ($grid-gutter-width / 2) 0;
}


.productDetails__panel {
    padding: $grid-gutter-width / 2;
    border: 1px solid $color-grey;
    border-radius: $global-border-radius;
}

.productDetails__coloursList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.productDetails__coloursListItem {
    display: inline-block;
    overflow: hidden;
    margin-right: $grid-gutter-width / 2;
    width: 60px;
    height: 60px;
    outline: 1px solid $color-grey;
    background-size: cover;
    cursor: pointer;
}

.productDetails__coloursListItem--selected {
    outline: 3px solid $brand-primary;
    // box-shadow: 0 0 5px $brand-primary;
}

.productDetails__sampleName {
    padding-top: 5px;
    line-height: 18px;
}

.productDetails__samplePrice {
    color: $brand-primary;
    font-size: 19px;
    line-height: 46px;
}
.productDetails__sampleButton {
    margin-left: $grid-gutter-width;
}

.productDetails__parametersList {
    padding: 10px 15px;
}

.productDetails__parametersItem {
    // font-size: 12px;
    display: flex;
    overflow: hidden;
    // padding: ($grid-gutter-width / 2) 0;
    padding: 5px 0;
    border-bottom: 1px solid $color-grey;

    dt {
        display: inline-block;
        min-width: 85px;
    }

    dd {
        display: inline;
        // font-size: 11px;
    }
}

.productDetails__parametersItem--last {
    border-bottom: 0;
}

.productDetails__description {
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.productDetails__sizePrice {
    color: $brand-primary;
    font-size: 19px;
    line-height: 34px;
}

.productDetails__endingsListItem {
    display: inline-block;
    margin: 0 ($grid-gutter-width / 2 - 6) 0 0;
    width: 67px;
    height: 67px;
    border: 3px solid $color-white;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

.productDetails__endingsListItem--selected {
    border-color: $brand-primary;
    // outline: 3px solid $brand-primary;
}

.productDetails__priceTotal {
    color: $brand-primary;
    font-size: 19px;
    line-height: 46px;
}

.productDetails__drillingCombinations {
    margin: ($grid-gutter-width / 2) 0 0;
    line-height: 24px;
    cursor: pointer;

    .mat-icon {
        float: left;
        margin: 0 5px 0 0;
    }
}

.productDetails__centerHoles {
    margin-top: $grid-gutter-width;

    mat-radio-button {
        margin-right: $grid-gutter-width;

        &:last-child {
            margin: 0;
        }
    }
}

//
// Panel
//
.panel {
    box-shadow: none;
}

.panel__cell {
    padding: ($grid-gutter-width / 2) $grid-gutter-width;
}

.panel__cell--noSpace {
    padding-right: 0;
    padding-left: 0;
}

.panel__header {
    border-radius: $global-border-radius $global-border-radius 0 0;
    background: $color-black;
    color: $color-white;
    font-size: 16px;
}

.panel__body {
    border: 1px solid $color-grey;
    border-top: 0;
    border-radius: 0 0 $global-border-radius $global-border-radius;
}

.productDetails__drillings {
    display: flex;
}

.productDetails__drillingsPreview {
    margin-top: 36px;
}
.productDetails__drillingsConfig {
    flex: 1;
    padding-right: $grid-gutter-width;
}

.drillingsPreview__door {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    max-height: 70vh;
    width: 200px;
    border: 1px solid grey;
    box-shadow:
        1px -1px grey,
        2px -2px grey,
        3px -3px grey,
        4px -4px grey,
        5px -5px 1px grey;
}

.drillingsPreview__label {
    margin: 0;
    color: $color-black;
    text-transform: uppercase;
}

.drillingsPreview__hole {
    position: absolute;
    width: 11px;
    height: 11px;
    border: 5px solid $brand-primary;
    border-radius: 50%;
    background: $brand-primary;

    $hole-offset: 10px;

    &:before {
        // horizontal
        position: absolute;
        display: none;
        width: $hole-offset * 2;
        height: 0;
        border-top: 1px dotted $brand-primary;
        content: "";
    }

    &:after {
        // vertical
        position: absolute;
        display: none;
        width: 0;
        height: $hole-offset * 2;
        border-right: 1px dotted $brand-primary;
        content: "";
    }

    .drillingsPreview__holesSide-- & {
        display: none;
    }

    .drillingsPreview__holesSide--left & {
        left: $hole-offset;


        &.drillingsPreview__hole--1 {
            top: $hole-offset;

            &:after {
                bottom: 0;
                left: 0;
                display: block;
            }
        }

        &.drillingsPreview__hole--2 {
            bottom: $hole-offset;

            &:after {
                top: 0;
                left: 0;
                display: block;
            }
        }
    }

    .drillingsPreview__holesSide--right & {
        right: $hole-offset;

        &.drillingsPreview__hole--1 {
            top: $hole-offset;

            &:after {
                bottom: 0;
                left: 0;
                display: block;
            }
        }

        &.drillingsPreview__hole--2 {
            bottom: $hole-offset;

            &:after {
                top: 0;
                left: 0;
                display: block;
            }
        }
    }

    .drillingsPreview__holesSide--top & {
        top: $hole-offset;

        &.drillingsPreview__hole--1 {
            left: $hole-offset;

            &:before {
                top: 0;
                right: 0;
                display: block;
            }
        }

        &.drillingsPreview__hole--2 {
            right: $hole-offset;

            &:before {
                top: 0;
                left: 0;
                display: block;
            }
        }
    }

    .drillingsPreview__holesSide--bottom & {
        bottom: $hole-offset;

        &:after {
            top: 50%;
            left: 50%;
        }

        &.drillingsPreview__hole--1 {
            left: $hole-offset;

            &:before {
                top: 0;
                right: 0;
                display: block;
            }
        }

        &.drillingsPreview__hole--2 {
            right: $hole-offset;

            &:before {
                top: 0;
                left: 0;
                display: block;
            }
        }
    }
}

.drillingsPreview__holesSide--left,
.drillingsPreview__holesSide--right {
    &.drillingsPreview__holesCenter--1 {
        .drillingsPreview__hole--center--1 {
            top: 50%;
            display: block;
            margin-top: -5px;
        }
    }

    &.drillingsPreview__holesCenter--2 {
        .drillingsPreview__hole--center--1 {
            top: 33.34%;
            display: block;
            margin-top: -2px;
        }
        .drillingsPreview__hole--center--2 {
            bottom: 33.34%;
            display: block;
            margin-bottom: -2px;
        }
    }
}

.drillingsPreview__holesSide--top,
.drillingsPreview__holesSide--bottom {
    &.drillingsPreview__holesCenter--1 {
        .drillingsPreview__hole--center--1 {
            left: 50%;
            display: block;
            margin-left: -5px;
        }
    }

    &.drillingsPreview__holesCenter--2 {
        .drillingsPreview__hole--center--1 {
            left: 33.34%;
            display: block;
            margin-left: -2px;
        }
        .drillingsPreview__hole--center--2 {
            right: 33.34%;
            display: block;
            margin-right: -2px;
        }
    }
}

.drillingsPreview__hole--center--1,
.drillingsPreview__hole--center--2 {
    display: none;
}
