<div class="topBar hidden-xs">
    <div class="container">
        <div class="topBar__content">
            <div class="pull-left">
                Free delivery over {{ freeDelivery | currency : 'GBP' : true : '1.0-0' }}
            </div>
            <div class="pull-right">
                <a href="tel:+441708 403806">
                    <mat-icon style="float: left; margin: 1px 4px -3px 0;">phone</mat-icon>
                    01708 403806
                </a>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar--ki">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbarMenu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar__content">
            <a class="navbar__logo" routerLink="/"><img src="/assets/img/logo.svg"/></a>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar__menu collapse navbar-collapse" id="navbarMenu">
                <ul class="nav navbar-nav">
                    <li
                        *ngFor="let category of categories | orderBy: 'index'"
                        [ngClass]="{ 'dropdown': category.children.length }"
                        [ngStyle]="{ 'display': category.id == 11 ? 'none' : 'block' }"
                    >
                        <!-- [routerLink]="category.hasChildren() ? [] : '/category/' + category.id"
                        [ngClass]="{ 'dropdown-toggle': category.children.length }"
                        [attr.data-toggle]="category.hasChildren() ? 'dropdown' : ''" -->
                        <a routerLink="/category/{{category.id}}">
                            {{ category.name }} <span *ngIf="category.hasChildren()" class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" *ngIf="category.hasChildren()">
                            <li *ngFor="let child of category.children"><a routerLink="/category/{{ child.id }}">{{
                                child.name }}</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->

            <a class="navbar__basket" routerLink="/cart">
                <span class="navbar__basketIcon">
                    <img src="/assets/img/icon-cart.png" width="25" height="24"/>
                    <span class="navbar__basketIconCount">
                        {{ cartTotalCount }}
                    </span>
                </span>
                {{ cartTotalPrice | currency : 'GBP' : true : '1.2-2' }}
            </a>
        </div>

    </div><!-- /.container-fluid -->
</nav>
