@import "../../../assets/scss/variables";

:host {
    display: block;
    margin: $grid-gutter-width 0 0;
}

.introCategory {
    margin: 0 0 $grid-gutter-width;
}

.introCategory__img {
    height: 250px;
    background-position: 50% 50%;
    background-size: cover;
}

.introCategory__content {
    margin: ($grid-gutter-width * -2) $grid-gutter-width 0;
    padding: 21px $grid-gutter-width $grid-gutter-width;
    background: $color-white;
}

.introCategory__title {
    font-weight: 500;
    font-size: 37px;
}

.introCategory__text {
    line-height: 22px;
}

.introCategory__cta {
    margin-top: 20px;
}
