<h1 mat-dialog-title>
  Hinge Drilling Combinations
</h1>

<div mat-dialog-content>
  <button class="mat-dialog__close" [mat-dialog-close]="true"><mat-icon mat-dialog-close>cancel</mat-icon></button>

  <div [ngSwitch]="data.side">
      <img *ngSwitchCase="'left'" src="/assets/img/hinge_drilling_left.png" alt="Hinge Drilling Combinations" />
      <img *ngSwitchCase="'right'" src="/assets/img/hinge_drilling_right.png" alt="Hinge Drilling Combinations" />
      <img *ngSwitchDefault src="/assets/img/hinge_drilling_combinations.jpg" alt="Hinge Drilling Combinations" />
  </div>
</div>

<div mat-dialog-actions>

</div>
