#topMain>li>a {
    height:96px;
    line-height:76px;
}
#topMain.nav-pills>li>a {
    color:#1F262D;
    font-weight:400;
    background-color:transparent;
}
#topMain.nav-pills>li:hover>a,
#topMain.nav-pills>li:focus>a {
    color:#1F262D;
    background-color:rgba(0,0,0,0.03);
}
#topMain.nav-pills>li.active>a {
    color:#687482;
}

#topMain.nav-pills>li>a.dropdown-toggle {
    padding-right:25px;

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#topMain.nav-pills>li>a.dropdown-toggle:after {
    display: block;
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 10px;
    margin: -5px 0 0;
    font-family: FontAwesome;
    font-size: 12px;
    opacity: .3;
    line-height: 1em;

    -webkit-transition: -webkit-transform .2s ease-in;
    -moz-transition: -moz-transform .2s ease-in;
    -ms-transition: -ms-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;
}
#header.bottom.dropup #topMain.nav-pills>li>a.dropdown-toggle:after {
    content: "\f106";
}

#topNav .navbar-collapse {
    float:right;
}

#topNav a.logo {
    height:96px;
    line-height:96px;
    overflow:hidden;
    display:inline-block;
}



@media only screen and (max-width: 1215px) {
    #topMain.nav-pills>li>a {
        font-size:13px;
    }
}

@media only screen and (max-width: 992px) {
    /* Force 60px */
    #header {
        height:60px !important;
    }
    #header #topNav a.logo {
        height:60px !important;
        line-height:50px !important;
    }
    #header #topNav a.logo>img {
        max-height:60px !important;
    }
    #header #topNav #topMain>li>a {
        height:40px !important;
        line-height:40px !important;
        padding-top:0;
    }


    #topMain>li {
        border-bottom:rgba(0,0,0,0.1) 1px solid;
    }
    #topMain>li:last-child {
        border-bottom:0;
    }

    #header li.search .search-box {
        margin:0 !important;
        position:fixed;
        left:0; right:0;
        top:60px !important;
        width:100%;
        background-color:#fff;
        border-top:rgba(0,0,0,0.1) 1px solid;
    }
}

@media only screen and (max-width: 480px) {
    #header #topNav a.logo>img {
        max-height:30px !important;
    }
}

img.admin-thumbnail {
    max-width: 100px;
    max-height: 100px;
}

img.photo-upload-thumbnail {
    margin-bottom:20px;
}

td.actionIconsColumn {
    width:50px;
}

td.thumbnailColumn {
    width:120px;
}
.table tbody>tr>td{
    vertical-align: middle;
}
tr.btn-form {
    cursor: pointer;
}



.old-price {
    text-decoration: line-through;
    font-size:1.4rem;
}

.new-price {
    font-weight: bold;
}

.shop-item .thumbnail {
    height: 130px;
    overflow: hidden;
    width:100%;
}

.shop-item-image {
    position: static!important;
}

.shop-item-image .img-responsive {
    position: absolute!important;
    width: auto!important;
    height: 100%;
    max-width: none!important;
    left: 50%!important;
    top: 50%!important;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

.thumbnail {
    text-align: center;
}

a#zoomProductButton {
    position:absolute;
    z-index:20;
    font-size:17px;
    background-color:#666;
    padding:6px 10px;
    width:40px; height:40px;
    line-height:30px;
    text-align:center;
    color:#fff;

    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    -moz-border-radius-topleft: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}
a#zoomProductButton:hover {
    background-color:#333;
}
/* lightbox button position */
a#zoomProductButton.bottom-right {
    right:10px; bottom:10px;
}
a#zoomProductButton.bottom-left {
    left:10px; bottom:10px;
}
a#zoomProductButton.top-right {
    right:10px; top:10px;
}
a#zoomProductButton.top-left {
    left:10px; top:10px;
}

.fullback-1 {
    background: url('/assets/images/background-1.jpg') bottom right;
    background-size: auto!important;
    background-repeat: no-repeat;
}

.fullback-2 {
    background: url('/assets/images/background-2.jpg') bottom right;
    background-size: auto!important;
    background-repeat: no-repeat;
}
#orderMenuButton {
    background-color: #51a825!important;
}
#orderMenuButton a {
    color: #fff!important;
}

.promotion-carousel {
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 3px 2px rgba(0,0,0,.2) !important;
    -moz-box-shadow: 0 3px 2px rgba(0,0,0,.2) !important;
    box-shadow: 0 3px 2px rgba(0,0,0,.2) !important;
}

.owl-carousel .img-responsive {
    width:auto!important;
    max-height: 250px;
    max-width:100%;
}

.btn-accessories {
    max-width:100px;
    max-height: 100px;
    display: inline-block;
}

#filterAjaxForm {
    font-size: 1.2em;
}

.pagination li a, .pagination li span {
    float:none!important;
}
.pagination li.active span {
    background-color: #e87e00;
    border-color: #e87e00;
}

.pagination li.active span:hover {
    background-color: #e87e00;
    border-color: #e87e00;
}

.side-nav {
    font-family: 'Russo One', sans-serif;
}

div.side-nav li.list-group-item {
    padding: 0;
}

@media only screen and (max-width: 768px) {
    #productThumbnails {
        display:none!important;
    }
}

#options-holder .row {
    border-top: 1px solid #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
}

#options-holder .row:nth-child(even) {
    background-color: #e3e3e3;
}