<div class="container">
    <div class="row">

        <div class="col-xs-12">

            <div *ngIf="Object.keys(userCart.items).length; else emptycart">
                <h2>Your Basket</h2>

                <div class="panel">
                    <div class="panel__header">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="panel__cell">
                                    Product
                                </div>
                            </div>
                            <div class="col-xs-6 ">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="panel__cell text-center panel__cell--noSpace">
                                            Price each
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="panel__cell text-center">
                                            Quantity
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="panel__cell text-center">
                                            Total
                                        </div>
                                    </div>
                                    <div class="col-xs-3">
                                        <div class="panel__cell text-center">
                                            Delete
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel__body">
                        <app-cart-items-list></app-cart-items-list>
                    </div>
                </div>

                <div class="productDetails__panel pull-right" style="margin-bottom: 60px;">
                    <label style="width: 180px; text-align: right; margin-right: 15px;">Subtotal (Inc. VAT):</label>
                    <span style="display: inline-block; min-width: 60px; text-align: right;">{{ userCart.subtotalPrice | currency : 'GBP' : true : '1.2-2' }} </span><br />

                    <label style="width: 180px; text-align: right; margin-right: 15px;">VAT content on this order:</label>
                    <span style="display: inline-block; min-width: 60px; text-align: right;">{{ userCart.subtotalPrice * 0.2 / 1.2 | currency : 'GBP' : true : '1.2-2' }} </span><br />

                    <label style="width: 180px; text-align: right; margin-right: 15px;">Delivery:</label>
                    <span style="display: inline-block; min-width: 60px; text-align: right;">{{ userCart.deliveryPrice | currency : 'GBP' : true : '1.2-2' }} </span><br />

                    <label style="width: 180px; text-align: right; margin-right: 15px; font-size: 19px;">Total:</label>
                    <span style="display: inline-block; min-width: 60px; text-align: right;">{{ userCart.totalPrice | currency : 'GBP' : true : '1.2-2' }} </span><br />
                </div>

                <div style="clear: both"></div>

                <app-checkout></app-checkout>
            </div>


            <ng-template #emptycart>
                <h3>Nothing to checkout</h3>
                <p>Please add items to your shopping cart and then checkout from here.</p>
            </ng-template>

        </div>

    </div>

</div>
