@import "../../../assets/scss/variables";

.cartItemsList__item {
    position: relative;
    display: flex;

    &:after {
        position: absolute;
        right: $grid-gutter-width;
        bottom: 0;
        left: $grid-gutter-width;
        display: block;
        border-bottom: 1px solid $color-off-white;
        content: "";
    }

    &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;

        &:after {
            margin: 0;
            padding: 0;
            border: 0;
        }
    }
}

.cartItemsList__description {
    display: flex;
    align-items: center;
}

.cartItemsList__cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartItemsList__descriptionText {
    flex: 1;
    padding-left: $grid-gutter-width;
}

.cartItemsList__imgWrapper {
    display: flex;
    padding: 5px;
    width: 60px;
    height: 90px;
    border: 1px solid $color-grey;
    border-radius: $global-border-radius;
}

.cartItemsList__img {
    display: flex;
    flex: 1;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
