@import "../../../assets/scss/variables";

:host {
    display: block;
    margin: $grid-gutter-width 0 ($grid-gutter-width * -1);
}

.introBlock {
    margin: 0 0 $grid-gutter-width;
    padding: 40px;
    min-height: 196px;
    background: $color-off-white;
    text-align: center;
}

.introBlock__img {
    margin:  0 0 12px;
}

.introBlock__title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 25px;
}

.introBlock__text {
    font-size: 16px;
}

.introBlock--special {
    padding: 40px 0;
}
