html {
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
}

.mainContent {
    position: relative;
    flex: 1;

    &::before {
        position: fixed;
        top: 97px;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 85px;
        box-shadow: inset 0 85px 85px -85px #e4e4e4;
        content: "";
    }
}


h1, .h1 {
    margin-top: 30px;
}


img {
    max-width: 100%;
}


.shiftContainer {
    transition: all .3s linear;
}

.container {
    position: relative
}

mat-vertical-stepper,
.mat-vertical-stepper {
    padding: 10px;
    border: 1px solid #707070;
    border-radius: $global-border-radius;
}
.mat-vertical-stepper-content {
    visibility: visible !important;
    height: initial !important;
}
