@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Ubuntu, sans-serif',
);
//   $headline: mat-typography-level(32px, 48px, 700),
//   $body-1: mat-typography-level(16px, 24px, 500)

@include angular-material-typography($custom-typography);



//
// Dialog window
//
.mat-dialog-container {
    position: relative;
}

.mat-dialog__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: 0;
    border: 0;
    background: transparent;
    text-align: center;

    mat-icon {
        margin: -7px -12px 0 0;
    }
}

div.mat-dialog-content {
    margin-bottom: 1px;
    max-height: 70vh;
}


//
// Form controls
//
mat-form-field {
    width: 100%;
}

div.mat-form-field-infix {
    width: 100%;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $brand-primary;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle {
    background: $brand-primary;
}
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background: rgba($brand-primary, .26);
}

// .mat-form-field-appearance-legacy .mat-form-field-underline {
//     background-color: $color-black;
// }

.mat-form-field.mat-focused .mat-form-field-ripple {
    background: darken($brand-primary, 20%);
}
// .mat-form-field.mat-focused .mat-form-field-label,
// .mat-form-field.mat-focused.mat-primary .mat-select-arrow,
.mat-form-field.mat-focused .mat-form-field-label,
.mat-form-field.mat-focused .mat-form-field-outline-thick {
    color: darken($brand-primary, 20%);
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: $brand-primary
}

.mat-form-field-label-wrapper {
    z-index: 1;

    mat-label {
        padding-right: 5px;
        background: $color-white;
    }
}

// Checkbox styles
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $brand-primary;
}

.mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background: rgba($brand-primary, 0.26);
}

// No radio radio buttons
.mat-radio-button--noRadio {
    .mat-radio-label {
        display: block;
        margin: 0;
        height: 100%;
    }

    .mat-radio-container {
        display: none;
    }
}

// Progress spinner
.mat-progress-spinner circle {
    stroke: $brand-primary;
}

// Stepper
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background-color: $brand-primary;
}
