$icon-font-path: "/node_modules/bootstrap-sass/assets/fonts/bootstrap/";
// $icon-font-path: "/test/test/test";

$brand-primary: #de3333;

$color-black: #000;
$color-grey: #707070;
$color-off-white: #f2f2f2;
$color-white: #fff;

$global-border-radius: 10px;

$grid-float-breakpoint: 991px;

$link-color: #812323;

$btn-primary-color: #000;
$btn-primary-bg: #fff;
$btn-primary-border: #000;

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
