$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";

$brand-primary: #de3333;

$color-black: #000;
$color-grey: #ccc;
$color-off-white: #f2f2f2;
$color-white: #fff;

$global-border-radius: 8px;

$grid-float-breakpoint: 991px;

@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
