@import "../../../assets/scss/variables";

.breadcrumb {
    padding: 0;
    background: transparent;

    a {
        color: $color-black;
    }
}

.breadcrumb__currentNode {
    color: $brand-primary;
}
