<div *ngIf="product && basketItem">
    <div
        class="productDetails__banner"
        *ngIf="product.getFeaturedPhoto()"
        [ngStyle]="{'background-image':'url(/images/products/' + encodeURI(product.getFeaturedPhoto().filename) + ')' }"
        (click)="bannerClick()"
    ></div>

    <div class="container">

        <div class="row">
            <div class="col-xs-12 productDetails__breadcrumb">

                <app-breadcrumb [category]="product.category"></app-breadcrumb>

            </div>
        </div>

        <div class="row">

            <div class="col-md-5">
                <div class="productDetails__imagesCarousel" *ngIf="product.hasPhotos()">
                    <app-product-images-carousel [photos]="product.photos"></app-product-images-carousel>

                    <div class="productDetails__ribbonWrapper" *ngIf="product.hasCustomSize()">
                        <div class="productDetails__ribbon">
                            Made to measure available
                        </div>
                    </div>
                </div>

                <div *ngIf="product.hasParameters()">
                    <div class="productDetails__subtitle">
                        Product Specification:
                    </div>

                    <dl class="productDetails__panel productDetails__parametersList">
                        <div
                            *ngFor="let parameter of product.parameters, let isLast = last"
                            class="productDetails__parametersItem"
                            [ngClass]="{ 'productDetails__parametersItem--last': isLast }"
                        >
                            <dt>{{ parameter.name }}</dt>
                            <dd>{{ parameter.value }}</dd>
                        </div>
                    </dl>
                </div>

                <div
                    class="productDetails__panel productDetails__description"
                    *ngIf="product.description"
                    [innerHTML]="product.description"
                ></div>
            </div>

            <div class="col-md-7">
                <form novalidate #productForm="ngForm" (ngSubmit)="onAddToBasket(productForm)">
                    <div class="productDetails__section productDetails__section--first">
                        <h2 class="productDetails__title">
                            {{ product.name }}

                            <a href="/admin/products/{{ product.id }}" target="_blank" *ngIf="isLoggedIn">
                                <mat-icon>edit</mat-icon>
                            </a>
                        </h2>
                    </div>

                    <div *ngIf="product.hasColours()" class="productDetails__section">
                        <div class="productDetails__subtitle">
                            Select colour:
                        </div>

                        <div class="productDetails__sectionContent">
                            <mat-radio-group
                                class="productDetails__coloursList"
                                name="colour"
                                required
                                [(ngModel)]="basketItem.colour"
                                #colour="ngModel"
                            >
                                <mat-radio-button
                                    *ngFor="let colour of product.colours"
                                    class="productDetails__coloursListItem mat-radio-button--noRadio"
                                    [ngClass]="{ 'productDetails__coloursListItem--selected': colour.id === basketItem.colour?.id }"
                                    [ngStyle]="{ 'background-image': 'url(/images/colours/' + encodeURI(colour.getPhoto()) + ')' }"
                                    [matTooltip]="colour.name"
                                    [value]="colour"
                                ></mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="(colour.invalid && productForm.submitted) || (colour.invalid && sampleFormSubmitted)">Please selecet colour</mat-error>
                        </div>
                    </div>

                    <div *ngIf="product.hasSample()" class="productDetails__section">
                        <div class="productDetails__subtitle">
                            Sample:
                        </div>
                        <div class="productDetails__sectionContent">
                            <div class="row">
                                <div class="col-xs-6 productDetails__sampleName">{{ product.name }} <br /> Sample (355mm х 280mm) Free delivery</div>
                                <div class="col-xs-6 text-right">
                                    <form novalidate #sampleForm="ngForm" (ngSubmit)="onAddSampleToBasket(sampleForm)">
                                        <span class="productDetails__samplePrice">
                                            {{ product.sample_price | currency : 'GBP' : true : '1.2-2' }}
                                        </span>
                                        <div
                                            style="width: 0; height: 0; overflow: hidden; float: left;"
                                            *ngIf="product.hasColours()"
                                        >
                                            <input
                                                type="text"
                                                [(ngModel)]="basketItem.colour"
                                                name="colour"
                                                required
                                            />
                                        </div>
                                        <button class="btn btn-primary btn-lg productDetails__sampleButton" type="submit">Add sample to basket</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="product.hasOptions()" class="productDetails__section" [ngClass]="{ 'productDetails__section--callpsed': mode !== 'standard' }">
                        <div class="productDetails__subtitle">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>
                                        <input
                                            type="radio"
                                            name="mode"
                                            [(ngModel)]="mode"
                                            value="standard"
                                            *ngIf="product.hasCustomSize() && mode !== 'standard'"
                                        />
                                        Select standard size:
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="productDetails__sectionContent" *ngIf="mode === 'standard'">
                            <div class="row">
                                <div class="col-xs-9">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Height &times; Width</mat-label>
                                        <mat-select
                                            name="size"
                                            required
                                            [(ngModel)]="selectedSize"
                                            [disableOptionCentering]="true"
                                            (selectionChange)="onSelectedSize()"
                                        >
                                            <mat-option
                                                *ngFor="let option of product.options"
                                                [value]="option"
                                            >
                                                {{ option.name }} {{ option.price | currency : 'GBP' : true : '1.2-2' }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Please select size</mat-error>
                                        <mat-hint>All prices include VAT.</mat-hint>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Quantity</mat-label>
                                        <input
                                            type="number"
                                            name="quantity"
                                            required
                                            matInput
                                            [(ngModel)]="basketItem.quantity"
                                            min="1"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="product.hasCustomSize()" class="productDetails__section" [ngClass]="{ 'productDetails__section--callpsed': mode !== 'custom' }">
                        <div class="productDetails__subtitle">
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>
                                        <input
                                            type="radio"
                                            name="mode"
                                            value="custom"
                                            *ngIf="mode !== 'custom'"
                                            [(ngModel)]="mode"
                                        />
                                        Select custom size:
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="productDetails__sectionContent" *ngIf="mode === 'custom'">
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Height (mm)</mat-label>
                                                <input
                                                    type="number"
                                                    name="height"
                                                    min="100"
                                                    max="2540"
                                                    required
                                                    matInput
                                                    [(ngModel)]="basketItem.height"
                                                    (change)="getBasketItem()"
                                                />
                                                <mat-hint>Min: 100mm, Max: 2540mm</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-xs-6">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Width (mm)</mat-label>
                                                <input
                                                    type="number"
                                                    name="width"
                                                    min="100"
                                                    max="1200"
                                                    required
                                                    matInput
                                                    [(ngModel)]="basketItem.width"
                                                    (change)="getBasketItem()"
                                                />
                                                <mat-hint>Min: 100mm, Max: 1200mm</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Quantity</mat-label>
                                        <input
                                            type="number"
                                            name="quantity"
                                            min="1"
                                            required
                                            matInput
                                            [(ngModel)]="basketItem.quantity"
                                        />
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <mat-hint style="font-size: 75%;">
                                        For pricing of non standard size doors and drawer fronts use the next standard size up and add 20%. All prices include VAT.
                                    </mat-hint>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="productDetails__section productDetails__drillings">
                        <div class="productDetails__drillingsConfig">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="productDetails__subtitle">
                                        Do you need hinge drilling?
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <mat-form-field appearance="outline">
                                        <mat-select
                                            name="hinge_side"
                                            [(ngModel)]="selectedHingeSide"
                                            [disableOptionCentering]="true"
                                            [required]="true"
                                            (selectionChange)="resetHinges()"
                                        >
                                            <mat-option value="NO">No</mat-option>
                                            <mat-option value="left">Left side</mat-option>
                                            <mat-option value="right">Right side</mat-option>
                                            <mat-option value="top">Top side</mat-option>
                                            <mat-option value="bottom">Bottom side</mat-option>
                                        </mat-select>
                                        <mat-hint *ngIf="basketItem.hinge_side">Price per drilling {{ drillingPrice | currency : 'GBP' : true : '1.2-2' }}</mat-hint>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row" *ngIf="basketItem.hinge_side" style="margin-top: 30px;">
                                <div class="col-xs-12">
                                    <div class="productDetails__subtitle">
                                        Drillings position:
                                    </div>

                                    <small class="productDetails__small">
                                        From the center of the hole to the edge. Hole dimensions: 35mm diameter x 13mm depth.
                                    </small>

                                    <div class="form-group" *ngIf="basketItem.hinge_side === 'left' || basketItem.hinge_side === 'right'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Hole 1 - mm from top</mat-label>
                                            <input
                                                type="number"
                                                name="hinge_top"
                                                required
                                                matInput
                                                [(ngModel)]="basketItem.hinge_top"
                                                (change)="getBasketItem()"
                                            />
                                            <mat-hint>Min: 45mm</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group" *ngIf="basketItem.hinge_side === 'top' || basketItem.hinge_side === 'bottom'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Hole 1 - mm from left</mat-label>
                                            <input
                                                type="number"
                                                name="hinge_left"
                                                required
                                                matInput
                                                [(ngModel)]="basketItem.hinge_left"
                                                (change)="getBasketItem()"
                                            />
                                            <mat-hint>Min: 45mm</mat-hint>
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group" *ngIf="basketItem.hinge_side === 'left' || basketItem.hinge_side === 'right'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Hole 2 - mm from bottom</mat-label>
                                            <input
                                                type="number"
                                                name="hinge_bottom"
                                                min="45"
                                                required
                                                matInput
                                                [(ngModel)]="basketItem.hinge_bottom"
                                                (change)="getBasketItem()"
                                            />
                                            <mat-hint>Min: 45mm</mat-hint>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group" *ngIf="basketItem.hinge_side === 'top' || basketItem.hinge_side === 'bottom'">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Hole 2 - mm from right</mat-label>
                                            <input
                                                type="number"
                                                name="hinge_right"
                                                min="45"
                                                required
                                                matInput
                                                [(ngModel)]="basketItem.hinge_right"
                                                (change)="getBasketItem()"
                                            />
                                            <mat-hint>Min: 45mm</mat-hint>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="getCenterHoles()" class="row productDetails__centerHoles">
                                <div class="col-xs-12">
                                    <div class="productDetails__subtitle">
                                        Centre holes:
                                    </div>
                                </div>
                                <div class="col-xs-12" div>
                                    <mat-radio-group
                                        name="center_holes"
                                        required
                                        [(ngModel)]="basketItem.hinge_center"
                                        (change)="getBasketItem()"
                                        #centerHoles="ngModel"
                                    >
                                        <mat-radio-button [value]="0">
                                            0
                                        </mat-radio-button>
                                        <mat-radio-button [value]="1" *ngIf="getCenterHoles() >=1">
                                            1
                                        </mat-radio-button>
                                        <mat-radio-button [value]="2" *ngIf="getCenterHoles() >=2">
                                            2
                                        </mat-radio-button>
                                        <mat-error *ngIf="centerHoles.invalid && productForm.submitted">Please select centre holes</mat-error>
                                    </mat-radio-group>
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-xs-12">
                                    <div class="productDetails__drillingCombinations" (click)="viewDrillingCombinations()">
                                        <mat-icon>info</mat-icon> View hinge drilling combinations
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <div class="productDetails__drillingsPreview">
                            <div class="drillingsPreview__door drillingsPreview__holesSide--{{ basketItem.hinge_side }} drillingsPreview__holesCenter--{{ basketItem.hinge_center }}" [ngStyle]="calculatedDoorHeight">
                                <div class="drillingsPreview__hole drillingsPreview__hole--1"></div>
                                <div class="drillingsPreview__hole drillingsPreview__hole--2"></div>
                                <div class="drillingsPreview__hole drillingsPreview__hole--center--1"></div>
                                <div class="drillingsPreview__hole drillingsPreview__hole--center--2"></div>
                                <label class="drillingsPreview__label">rear side door view</label>
                            </div>
                        </div>
                    </div>

                    <div class="productDetails__section" *ngIf="product.category_id == 12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="productDetails__subtitle">
                                    Door position:
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <mat-form-field appearance="outline">
                                    <mat-select
                                        name="position"
                                        required
                                        [(ngModel)]="basketItem.position"
                                        [disableOptionCentering]="true"
                                    >
                                        <mat-option value="top">Wall unit</mat-option>
                                        <mat-option value="bottom">Base unit</mat-option>
                                    </mat-select>
                                    <mat-error>Please select door position</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="product.hasEndings()" class="productDetails__section">
                        <div class="productDetails__subtitle">
                            Select edging:
                        </div>

                        <div class="productDetails__sectionContent">
                            <mat-radio-group
                                class="productDetails__endingsList mat-radio-label"
                                name="ending"
                                required
                                [(ngModel)]="basketItem.ending"
                                (change)="selectEnding()"
                                #ending="ngModel"
                            >
                                <mat-radio-button
                                    *ngFor="let ending of product.endings | orderBy: 'index'"
                                    class="productDetails__endingsListItem mat-radio-button--noRadio"
                                    [ngClass]="{ 'productDetails__endingsListItem--selected': ending.id === basketItem.ending?.id }"
                                    [ngStyle]="{ 'background-image': 'url(/images/endings/' + encodeURI(ending.photos[0].filename) + ')' }"
                                    [matTooltip]="ending.name"
                                    [value]="ending"
                                ></mat-radio-button>
                            </mat-radio-group>
                            <mat-error *ngIf="ending.invalid && productForm.submitted">Please selecet edging</mat-error>
                        </div>
                    </div>

                    <div *ngIf="basketItem.price" class="productDetails__section">
                        <div class="row">
                            <div class="col-xs-6 productDetails__priceTotal">
                                {{
                                    basketItem.price > 0 ?
                                        (basketItem.price * basketItem.quantity | currency : 'GBP' : true : '1.2-2') :
                                        'From ' + (-1*(basketItem.price) | currency : 'GBP' : true : '1.2-2')
                                }}
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-primary btn-lg" type="submit">Add to basket</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <app-product-carousel [groupId]="product.group_id"></app-product-carousel>

</div>
