<div class="basketBrief" *ngIf="Object.keys(userCart.items).length && visible">
  <!-- [ngClass]="{ 'basketBrief--expanded': isExpanded }"  -->
  <!-- <button class="basketBrief__toggle {{ cssClass }}" (click)="toggle()"><mat-icon>shopping_cart</mat-icon></button> -->

  <div class="basketBrief__list">
    <div class="basketBrief__item" *ngFor="let key of Object.keys(userCart.items)">
      <div class="basketBrief__itemDescription">
        <mat-form-field class="basketBrief__itemQuantity">
          <input
            matInput
            type="number"
            (change)="saveCart()"
            [(ngModel)]="userCart.items[key].quantity"
            name="quantity[{{ userCart.items[key].product_id }}]"
            min="1"
          />
        </mat-form-field>
        &times;

        {{ userCart.items[key].product.name }}

        <span *ngIf="userCart.items[key].isSample"> / Sample (355mm х 280mm)</span>

        <span *ngIf="userCart.items[key].colour"> / {{ userCart.items[key].colour.name }}</span>

        <span *ngIf="userCart.items[key].size"> / {{ userCart.items[key].size.name }}</span>
        <span *ngIf="userCart.items[key].width"> / {{ userCart.items[key].height }}mm x {{
          userCart.items[key].width }}mm
        </span>

        <span *ngIf="userCart.items[key].ending"> / {{ userCart.items[key].ending.name }} edging</span>
      </div>

      <div class="basketBrief__itemPrice">
        {{ (userCart.items[key].price * userCart.items[key].quantity) | currency : 'GBP' : true : '1.2-2' }}
      </div>

      <div class="basketBrief__itemDelete">
        <mat-icon (click)="removeItem(key)">delete</mat-icon>
      </div>
    </div>
  </div>
</div>
