@import "../../../assets/scss/variables";

// .basketBrief__toggle {
//     position: absolute;
//     top: 8px;
//     left: -50px;
//     padding: 0;
//     width: 50px;
//     height: 50px;
//     outline: 0;
//     border: 1px solid $color-off-white;
//     border-right-width: 0;
//     border-radius: $global-border-radius 0 0 $global-border-radius;
//     background: $color-white;

//     mat-icon {
//         width: 48px;
//         height: 48px;
//         text-align: center;
//         line-height: 48px;
//         transition: all .3s linear;
//     }
// }

// .basketBrief__toggle--onAdd {
//     mat-icon {
//         font-size: 48px;
//     }
// }


.basketBrief {
    position: fixed;
    top: 150px;
    // right: -300px;
    right: 0;
    min-height: 66px;
    width: 300px;
    background: $color-off-white;
    background-image: url(/assets/img/handmade-paper-pattern.jpg);
    font-weight: 900;
    font-size: 11px;
    font-family: monospace;
    line-height: 18px;
    transition: all .3s linear;

    &:before,
    &:after {
        position: absolute;
        bottom: -10px;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 10px;
        background-image:
            linear-gradient(45deg, rgba(0, 0, 0, 0) 33.333%, $color-off-white 33.333%, $color-off-white 66.667%, rgba(0, 0, 0, 0) 66.667%),
            linear-gradient(-45deg, rgba(0, 0, 0, 0) 33.333%, $color-off-white 33.333%, $color-off-white 66.667%, rgba(0, 0, 0, 0) 66.667%);
        background-position: 50% -30px;
        background-size: 20px 40px;
        background-repeat: repeat-x;
        content: '';
    }

    &:before {
        top: -10px;
        bottom: auto;
        background-position: 50% 0px;
    }
}

// .basketBrief--expanded {
//     right: 0;
// }

.basketBrief__list {
    padding: 15px;
}

.basketBrief__item {
    display: flex;
    margin-bottom: 15px;

    // &:after {
    //     position: absolute;
    //     bottom: 1px;
    //     width: 100%;
    //     border-bottom: 1px solid dotted;
    //     content: "";
    // }

    &:last-child {
        margin-bottom: 0;
    }

    mat-form-field {
        margin-top: -10px;
        margin-bottom: -13px;
    }
}
.basketBrief__itemDescription {
    flex: 1;
}

.basketBrief__itemPrice {
    width: 60px;
    text-align: right;
}

.basketBrief__itemDelete {
    color: $brand-primary;


    mat-icon {
        width: 18px;
        height: 18px;
        font-size: 18px;
        cursor: pointer;
    }
}

.basketBrief__itemQuantity {
    width: 33px;
    text-align: center;
    text-indent: 4px;
    font-weight: 900;
}
